@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan";
}

html {
  font-size: 1rem;
}

.header {
  position: relative;
  background-color: hsl(180, 29%, 50%);
  height: 10rem;
  width: 100vw;
}
.header-shapes {
  position: absolute;
  width: 100vw;
  height: 10rem;
}

.app-background {
  background-color: hsl(180, 31%, 95%);
  width: 100%;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jobs-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.job-container {
  width: 100%;
  min-width: 60rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: hsl(180, 52%, 96%);
  margin: 1rem;
  gap: 1rem;
  box-shadow: 0rem 1rem 1rem hsl(180, 38%, 82%);
  padding: 1rem;
  border-left: 0.3rem solid hsl(180, 29%, 50%);
  border-radius: 0.4rem;
}
.logo-and-details {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.job-position-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}

.company-name {
  color: hsl(180, 29%, 50%);
  font-weight: 600;
}

.company-logo {
  display: flex;
  align-items: center;
}

.company-logo-image {
  width: 3.6rem;
  height: 3.6rem;
}

.job-position {
  font-size: 1.4rem;
  font-weight: 800;
  color: rgb(44, 44, 44);
}

.job-position:hover {
  color: hsl(180, 29%, 50%);
  cursor: pointer;
}

.new {
  display: flex;
  font-size: 0.6rem;
  background-color: hsl(180, 29%, 50%);
  padding: 0.5rem;
  border-radius: 1.5rem;
  color: white;
  align-items: center;
}

.featured {
  display: flex;
  font-size: 0.6rem;
  background-color: rgb(44, 44, 44);
  color: white;
  border-radius: 1.5rem;
  padding: 0.5rem;
  align-items: center;
}

.company-new-featured-container {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}

.bottom-details {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: grey;
  padding-left: 1rem;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
}

.tag {
  color: hsl(180, 29%, 50%);
  background-color: hsl(180, 48%, 89%);
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
.tag:hover {
  background-color: hsl(180, 29%, 50%);
  color: white;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  min-width: 60rem;
  height: 3rem;
  background-color: hsl(180, 52%, 96%);
  margin: 2rem;
  box-shadow: 0rem 1rem 1rem hsl(180, 38%, 82%);
  padding: 2rem;
  border-radius: 0.4rem;
  align-items: center;
}

.tags-container {
  display: flex;
  flex-direction: row;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.tagName {
  color: hsl(180, 29%, 50%);
  background-color: hsl(180, 48%, 89%);
  padding: 0.5rem;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.clear-button {
  color: hsl(180, 29%, 50%);
  font-weight: 900;

  border-style: none;
  background-color: hsl(180, 52%, 96%);
}
.clear-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.searchBar-tags {
  display: flex;
  flex-direction: row;
}

.delete-tag {
  background-color: hsl(180, 29%, 50%);
  border-style: none;
  width: 2rem;
  color: white;
  font-size: 1rem;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.delete-tag:hover {
  background-color: rgb(44, 44, 44);
}
